.logement {
    margin: 0 5%;
    color: $color-1;
  
    &__content {
      margin-top: 20px;
      @include media-query(large) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }
    }
    
    &__title {
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 500;
      line-height: 51px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0;
      @include media-query(small) {
        font-size: 24px;
      }
      @include media-query(medium) {
        font-size: 30px;
      }
      @include media-query(large) {
        font-size: 36px;
      }
    }
    &__location {
      line-height: 2;
      font-size: 14px;
      font-weight: 500;
      @include media-query(small) {
        font-size: 16px;
      }
      @include media-query(medium) {
        margin-top: 0;
      }
      @include media-query(large) {
        font-size: 18px;
      }
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      border-radius: 10px;
      
      
    }
   
    &__rating-and-host {
      margin-top: 5px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      @include media-query(large) {
        flex-direction: column-reverse;
        justify-content: space-around;
        margin: 0;
      }
    }
  
    &__dropdowns {
      @include media-query(medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
      }
      @include media-query(large) {
        column-gap: 80px;
      }
    }
}
